<div class="container" [style]="optionsGroups.config.style?.whenClosed">
  <!-- Tendina con i gruppi  -->
  <mat-form-field (click)="openDropdownProgrammatically()" appearance="fill">
    <mat-label (click)="openDropdownProgrammatically()">{{ optionsGroups.name }}</mat-label>
    <mat-select (click)="openDropdownProgrammatically()" [formControl]="states" multiple #mySelect>
      <!-- Valutare eliminazione -->
      <mat-select-trigger>
        {{ states.value ? states.value[0] : "" }}
        <span
          *ngIf="states.value?.length > 1"
          class="example-additional-selection"
        >
          (+{{ states.value.length - 1 }}
          {{ states.value?.length === 2 ? "other" : "others" }})
        </span>
      </mat-select-trigger>
      <!-- Creazione dei gruppi nella tendina -->
      <mat-optgroup *ngFor="let group of optionsGroups.groups; let i = index">
        <div>
          <!-- Icona alla sx del gruppo -->
          <mat-icon>{{ group.icon }}</mat-icon>
          <!-- Checkbox del gruppo -->
          <mat-checkbox
            color="accent"
            [checked]="group.isSelected"
            (change)="onGroupClicked($event, group)"
          >
            {{ group.groupName }}
          </mat-checkbox>
          <!-- Triangolo per l'apertura del gruppo -->
          <button mat-button (click)="onExpandGroup(group)">
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
        </div>
        <!-- Options di ogni gruppo -->
        <mat-option
          *ngFor="let option of group.options; let i = index"
          [value]="option"
          (click)="onOptionClicked(group, option, i)"
          [ngClass]="
            optionsGroups.config.canCloseGroups
              ? group.isOpened
                ? 'list-show'
                : 'list-hide'
              : ''
          "
        >
          {{ option.name }}
        </mat-option>
      </mat-optgroup>

    </mat-select>
  </mat-form-field>
</div>
