.container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

mat-option {
  position: relative;
  left: 1em;
}

.list-hide {
  height: 0 !important;
}

.list-show {
  height: auto !important;
}

// ::ng-deep .mat-select-panel {
//   max-height: 80vh !important;
// }

