.container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

mat-option {
  position: relative;
  left: 1em;
}

.list-hide {
  height: 0 !important;
}

.list-show {
  height: auto !important;
}
