:root {
  //Capire perchè non riesco ad usarla come variabile
  --mat-icon-width: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
}

mat-optgroup {
  position: relative;
  mat-option {
    position: relative;
    left: calc(4em);
  }
}

mat-icon {
  margin-right: 5px !important;

  &.option-icon {
    margin-right: 4px !important;
  }
}



.list-hide {
  height: 0 !important;
}

.list-show {
  height: auto !important;
}

mat-form-field {
  position: absolute;
}


/* overwrite the checkbox background color */
::ng-deep .mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #deb456 !important;
}


