<div class="container" [style]="data.config.style?.whenClosed">
  <!-- Tendina con i gruppi  -->
  <mat-form-field (click)="openDropdownProgrammatically()" appearance="fill">
    <mat-label (click)="openDropdownProgrammatically()">{{ data.name }}</mat-label>
    <mat-select (click)="openDropdownProgrammatically()" [formControl]="states" multiple #mySelect>
      <!-- Testo del placeholder al selezionare di una option -->
      <mat-select-trigger>
        <!-- {{ states.value ? states.value[0] : "" }} -->
        {{ placeholderText }}
        <span *ngIf="states.value?.length > 1" class="example-additional-selection">
          (+{{ states.value.length - 1 }}
          {{ states.value?.length === 2 ? "other" : "others" }})
        </span>
      </mat-select-trigger>
      <!-- Creazione dei gruppi nella tendina -->
      <mat-optgroup *ngFor="let group of data.groups; let i = index">
        <div>
          <!-- Triangolo per l'apertura del gruppo -->
          <button mat-button (click)="onExpandGroup(group)">
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <!-- Icona alla sx del gruppo -->
          <mat-icon>{{ group.icon }}</mat-icon>
          <!-- Checkbox del gruppo -->
          <mat-checkbox
            color="accent"
            [checked]="group.isSelected"
            (change)="onGroupClicked($event, group)"
          >
            {{ group.groupName }}
          </mat-checkbox>
        </div>
        <!-- Options di ogni gruppo -->
        <mat-option
          *ngFor="let option of group.options; let i = index"
          [value]="option.id"
          (click)="onOptionClicked(group, option, i)"
          [ngClass]="
            data.config.canCloseGroups
              ? group.isOpened
                ? 'list-show'
                : 'list-hide'
              : ''
          "
        >
          <mat-icon class="option-icon">mic</mat-icon>
          {{ option.name }}
        </mat-option>
      </mat-optgroup>

    </mat-select>
  </mat-form-field>
</div>
