:root {
  //Capire perchè non riesco ad usarla come variabile
  --mat-icon-width: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
}

mat-optgroup {
  position: relative;
  mat-option {
    position: relative;
    left: calc(7em);
  }
}

mat-icon {
  margin-right: 5px !important;

  &.option-icon {
    margin-right: 4px !important;
  }
}

/*Dimensione del bottone di material per espandere / stringere checkbox*/
button {
  width: 3em !important;
  min-width: 3em !important;
}



.list-hide {
  height: 0 !important;
}

.list-show {
  height: auto !important;
}

mat-form-field {
  position: absolute;
}


/* overwrite the checkbox background color */
// ::ng-deep .mat-checkbox-checked .mat-checkbox-background,
// .mat-checkbox-indeterminate .mat-checkbox-background {
//   background-color: #deb456 !important;
// }

// ::ng-deep .mat-checkbox .mat-checkbox-frame {
//   // border-color: green;
//   background-color: #deb456 !important;
// }

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}


/**La linea della input viene visualizzata in basso come è giusto che sia
(a volte viene visualizzata a metà della input)*/
::ng-deep .mat-form-field-underline {
  position: relative;
  bottom: 0;
}


